:root {
	--header-image: url("assets/watch04.gif");
	--body-bg-image: url("assets/starsagain.gif");

	/* colors */
	--content: #43256e;
}

@font-face {
	font-family: Nunito;
	src: url("https://sadhost.neocities.org/fonts/Nunito-Regular.ttf");
}

@font-face {
	font-family: Nunito;
	src: url("https://sadhost.neocities.org/fonts/Nunito-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Nunito;
	src: url("https://sadhost.neocities.org/fonts/Nunito-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: Nunito;
	src: url("https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf");
	font-style: italic;
	font-weight: bold;
}

body {
	font-family: "Nunito", sans-serif;
	background-color: #08031a;
	/* you can delete the line below if you'd prefer to not use an image */
	background-size: 100px;
	color: #fceaff;
	background-image: var(--body-bg-image);
}

* {
	box-sizing: border-box;
}

#container {
	max-width: 1000px;
	margin: auto;
}

#container a {
	color: #ed64f5;
	font-weight: bold;
}

#header {
	width: 100%;
	background-color: #5e4e8c;
	height: 170px;
	background-image: var(--header-image);
	background-size: 100%;
	background-position: center;
}

#navbar {
	height: 40px;
	background-color: #13092d;
	width: 100%;
}

#navbar ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
}

#navbar li {
	padding-top: 10px;
}

#navbar li a {
	color: #ed64f5;
	font-weight: 800;
	text-decoration: none;
	/* this removes the underline */
}

#navbar li a:hover {
	color: #a49cba;
	text-decoration: underline;
}

#navbar a.active {
	color: whitesmoke;
	text-decoration: underline;
}

#flex {
	display: flex;
}

aside {
	background-color: #241445;
	width: 200px;
	padding: 18px;
	font-size: smaller;
}

main {
	background-color: #0d0d0d;
	flex: 1;
	padding: 20px;
	order: 2;
}

.main-aboutme {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 15px;
}

#leftSidebar {
	order: 1;
}

#rightSidebar {
	order: 3;
}

footer {
	background-color: #13092d;
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
}

h1,
h2,
h3 {
	color: #ed64f5;
}

h1 {
	font-size: 25px;
}

strong {
	color: #ed64f5;
}

.box {
	background-color: #13092d;
	border: 1px solid #ed64f5;
	padding: 10px;
}

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
	background-color: #13092d;
}

@media only screen and (max-width: 900px) {
	#flex {
		flex-wrap: wrap;
	}

	aside {
		width: 100%;
	}

	main {
		order: 1;
	}

	#leftSidebar {
		order: 2;
	}

	#rightSidebar {
		order: 3;
	}

	#navbar ul {
		flex-wrap: wrap;
	}

	#header {
		background-size: 800px;
		background-position-x: 38rem;
	}
}

#statuscafe {
	padding: 5px;
}

#statuscafe-username {
	margin-bottom: 0.3em;
	padding: 5px;
}

#statuscafe-content {
	margin: auto;
	padding: 5px;
}

.marquee-wrapper {
	width: 100%;
	overflow: hidden;
}

.marquee-images {
	display: flex;
	width: max-content;
	gap: 0.2rem;
	animation: marquee-move-images var(--speed, 15s) linear infinite
		var(--direction, forwards);
}

@keyframes marquee-move-images {
	to {
		transform: translateX(-50%);
	}
}

figure {
	margin: 0 auto;
	flex-shrink: 0;
	padding-top: 20px;
	min-width: 250px;
}

figcaption {
	text-align: center;
	font-size: 0.7rem;
}

.aboutme-image {
	max-height: 250px;
	border: 1px solid #ed64f5;
}
