:root {
	--header-image: url("assets/watch04.gif");
	--body-bg-image: url("assets/stars 2.gif");

	/* colors */
	--content: #43256e;
	--nav-footer: #13092d;
	--sidebar-background: #241445;
	--header-background: #5e4e8c;

	/* Catppuccin Mocha colors */
	--ctp-rosewater: #f5e0dc;
	--ctp-flamingo: #f2cdcd;
	--ctp-pink: #f5c2e7;
	--ctp-mauve: #cba6f7;
	--ctp-red: #f38ba8;
	--ctp-maroon: #eba0ac;
	--ctp-peach: #fab387;
	--ctp-yellow: #f9e2af;
	--ctp-green: #a6e3a1;
	--ctp-teal: #94e2d5;
	--ctp-sky: #89dceb;
	--ctp-sapphire: #74c7ec;
	--ctp-blue: #89b4fa;
	--ctp-lavender: #b4befe;
	--ctp-text: #cdd6f4;
	--ctp-subtext1: #bac2de;
	--ctp-subtext0: #a6adc8;
	--ctp-overlay2: #9399b2;
	--ctp-overlay1: #7f849c;
	--ctp-overlay0: #6c7086;
	--ctp-surface2: #585b70;
	--ctp-surface1: #45475a;
	--ctp-surface0: #313244;
	--ctp-base: #1e1e2e;
	--ctp-mantle: #181825;
	--ctp-crust: #11111b;
}

body {
	font-family: monospace;
	font-size: 17px;
	background-color: var(--ctp-crust);
	background-size: 100px;
	color: var(--ctp-text);
	background-image: var(--body-bg-image);
}

* {
	box-sizing: border-box;
}

#container {
	max-width: 1000px;
	margin: auto;
}

#container a {
	color: var(--ctp-mauve);
	font-weight: bold;
}

#header {
	width: 100%;
	background-color: var(--header-background);
	aspect-ratio: 16 / 5;
	background-image: var(--header-image);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#navbar {
	height: 40px;
	background-color: var(--nav-footer);
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
}

#navbar::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 30px;
	background: linear-gradient(to right, transparent, var(--nav-footer));
	pointer-events: none;
}

#navbar ul {
	display: flex;
	padding: 0 10px;
	margin: 0;
	list-style-type: none;
	justify-content: space-evenly;
	overflow-x: auto;
	white-space: nowrap;
	gap: 20px;
	height: 100%;
	align-items: center;
}

#navbar li {
	padding: 0;
	flex-shrink: 0;
}

#navbar li a {
	color: var(--ctp-mauve);
	font-weight: 800;
	text-decoration: none;
}

#navbar li a:hover {
	color: var(--ctp-overlay2);
	text-decoration: underline;
}

#navbar a.active {
	color: whitesmoke;
	text-decoration: underline;
}

#flex {
	display: flex;
}

aside {
	background-color: var(--sidebar-background);
	width: 200px;
	padding: 18px;
	font-size: smaller;
}

main {
	background-color: var(--ctp-crust);
	flex: 1;
	padding: 20px;
	order: 2;
}

.main-aboutme {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 15px;
}

#leftSidebar {
	order: 1;
	overflow: hidden;
}

#rightSidebar {
	order: 3;
}

footer {
	background-color: var(--nav-footer);
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
}

h1,
h2,
h3 {
	color: var(--ctp-mauve);
}

h1 {
	font-size: 25px;
}

strong {
	color: var(--ctp-mauve);
}

.box {
	background-color: var(--nav-footer);
	border: 1px solid var(--ctp-mauve);
	padding: 10px;
}

#topBar {
	width: 100%;
	height: 30px;
	padding: 10px;
	font-size: smaller;
	background-color: var(--nav-footer);
}

@media only screen and (max-width: 600px) {
	#flex {
		flex-wrap: wrap;
	}

	aside {
		width: 100%;
	}

	main {
		order: 1;
	}

	#leftSidebar {
		order: 2;
	}

	#rightSidebar {
		order: 3;
	}

	#header {
		height: 150px;
	}
}

#statuscafe {
	padding: 5px;
}

#statuscafe-username {
	margin-bottom: 0.3em;
	padding: 5px;
}

#statuscafe-content {
	margin: auto;
	padding: 5px;
}

.marquee {
	white-space: nowrap;
	animation-name: marquee;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	max-width: none;
}

.marquee:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translate(100%, 0);
	}
	100% {
		transform: translate(-400%, 0);
	}
}

figure {
	margin: 0 auto;
	flex-shrink: 0;
	padding-top: 20px;
	min-width: 250px;
}

figcaption {
	text-align: center;
	font-size: 0.7rem;
}

.aboutme-image {
	max-height: 250px;
	border: 1px solid var(--ctp-mauve);
}

.guestbook {
	height: 80vh;
	width: 100%;
	margin: 0 auto;
	overflow-y: auto;
	border-color: transparent;
}
